@page "/StorageRoom/{Id:int}"
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore.Update.Internal
@using RecipeNow.Data.Entities.RecipeSystem
@using RecipeNow.Services
@inject StorageRoomService StorageRoomService
@inject UserService UserService
@inject NavigationManager NavigationManager
@inject IIngredientService IngredientService
@rendermode InteractiveServer
@inject IJSRuntime JS
<!--TODO:
- Schauen ob das der Sameuser ist via UserService (gibt schon eine ähnliche Umsetzung in RecipeDetail) 
- In den Befüllten Positionen Dragable Images
- Jedes Bild hat unten rechts die menge ganz klein (bsp 2x)
- Jedes ShelfIngredient hat einen farbigen Rand für die Haltbarkeit (Grün: Länger als Ne Woche übrig;
 Gelb Morgen Fällig; Rot abgelaufen) 
- Rechtsklich öffnet Delete Modal?
- Modal für ShelfAdd
- Modal für ShelfIngredientAdd
- Optional: Downloadable PDF zur Inventur == Eigener Service 
  - Format foreach shelf in StorageRoom.shelves => foreach shelf ingredient in shelf.shelfIngredients 
-->
<link rel="stylesheet" href="StorageRoom/CSS/ShelfIngredient.css">
@if (_sameUser && _storageRoom != null)
{
    <h3>Vorratsraum: @_storageRoom.Name</h3>
    <div class="btn-group">
        <button class="btn btn-primary shadow-sm px-4"
                @onclick="NewShelfClicked"
                type="button">
            + Neuer Schrank
        </button>
        <button class="btn btn-outline-secondary shadow-sm"
                disabled>Inventur (PDF)</button>
    </div>

    @* @foreach(var shelf in _storageRoom.StorageRoomShelf) *@
    @foreach(var shelf in _shelves)
    {
        <div class="card mt-4">
            <div class="card-header">
                <h5>@shelf.ContentDescription</h5>
                <div class="dropdown position-absolute top-0 end-0 m-2">
                    <button class="btn btn-sm btn-light"
                            data-bs-toggle="dropdown"
                            type="button">
                        ⋮
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                        <li>
                            <button class="dropdown-item"
                                    @onclick="() => StartEdit(shelf)">
                                Bearbeiten
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item text-danger"
                                    @onclick="() => ConfirmDelete(shelf)">
                                Löschen
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                @for (int row = 1; row <= shelf.Height; row++)
                {
                    <div class="d-flex">
                        @for (int col = 1; col <= shelf.Width; col++)
                        {
                            var r = row;
                            var c = col;
                            var si = shelf.ShelfIngredients
                                .FirstOrDefault(x => x.Row == r && x.Column == c);
                            
                            if (si == null)
                            {
                                <div class="slot empty"
                                     @onclick="@(() => OpenAddIngredientModal(shelf.Id, c, r))"
                                     >
                                    +
                                </div>
                            }
                            else
                            {
                                <div class="slot filled @GetExpiryClass(si)" draggable="true">
                                    <img src="@si.Ingredient.ImagePath" />
                                    <span class="amount">@si.Amount x</span>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    }
}
else
{
    <h3>Vorratsraum konnte nicht geladen werden weil entweder:
        <ul>
            <li> du nicht angemeldet bist. </li>
            <li> du keinen Zugriff auf diesen Vorratsraum hast</li>
            <li> die Daten nicht erfolgreich geladen werden konnten</li>
        </ul>
    </h3>
}

<!-- Create / Edit Modal -->
<div class="modal fade" id="addShelfModal" tabindex="-1" aria-hidden="true" @ref="_modalEl">
    <div class="modal-dialog">
        <div class="modal-content shadow">
            <EditForm EditContext="_editContext"
                      OnValidSubmit="SaveShelf"
                      FormName="StorageRoomForm">

                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" />

                <div class="modal-header">
                    <h5 class="modal-title">@(_isEdit ? "Schrank bearbeiten" : "Neuen Schrank anlegen")</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <label class="form-label">Inhaltsbeschriftung</label>
                    <InputText class="form-control"
                               @bind-Value="_newShelfModel.ContentDescription" />
                    <ValidationMessage For="@(() => _newShelfModel.ContentDescription)" />
                    @if (!string.IsNullOrWhiteSpace(_error))
                    {
                        <div class="text-danger mt-2">@_error</div>
                    }
                    
                    <label class="form-label">Breite</label>
                    <InputNumber class="form-control"
                               @bind-Value="_newShelfModel.Width" />
                    <ValidationMessage For="@(() => _newShelfModel.Width)" />
                    @if (!string.IsNullOrWhiteSpace(_error))
                    {
                        <div class="text-danger mt-2">@_error</div>
                    }
                    
                    <label class="form-label">Höhe</label>
                    <InputNumber class="form-control"
                                 @bind-Value="_newShelfModel.Height" />
                    <ValidationMessage For="@(() => _newShelfModel.Height)" />
                    @if (!string.IsNullOrWhiteSpace(_error))
                    {
                        <div class="text-danger mt-2">@_error</div>
                    }
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </div>

            </EditForm>
        </div>
    </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true" @ref="_deleteModalEl">
    <div class="modal-dialog modal-sm">
        <div class="modal-content shadow">

            <div class="modal-header">
                <h5 class="modal-title text-danger">Löschen bestätigen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                Möchtest du <strong>@_shelfToDelete?.ContentDescription</strong> wirklich löschen?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-danger" @onclick="DeleteShelf">Löschen</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" @ref="_AddShelfIngredientEl">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5>Zutat platzieren</h5>
                <button class="btn-close"
                        @onclick="CloseAddModal"></button>
            </div>

            <div class="modal-body">

                <EditForm Model="_newShelfIngredientModel"
                          OnValidSubmit="SaveShelfIngredient">

                    <DataAnnotationsValidator />

                    <div class="mb-3">
                        <label>Zutat</label>
                        <InputSelect class="form-select"
                                     @bind-Value="_newShelfIngredientModel.IngredientId">
                            <option value="">-- wählen --</option>
                            @foreach (var i in _ingredients)
                            {
                                <option value="@i.Id">
                                    @i.Name
                                </option>
                            }
                        </InputSelect>
                    </div>

                    <div class="mb-3">
                        <label>Menge</label>
                        <InputNumber class="form-control"
                                     @bind-Value="_newShelfIngredientModel.Amount" />
                    </div>

                    <div class="mb-3">
                        <label>Ablaufdatum</label>
                        <InputDate class="form-control"
                                   @bind-Value="_newShelfIngredientModel.ExpirationDate" />
                    </div>

                    <button class="btn btn-primary">
                        Speichern
                    </button>

                </EditForm>

            </div>

        </div>
    </div>
</div>


<script>
    window.bootstrapModalShow = (el) => { if (el) new bootstrap.Modal(el).show(); }
    window.bootstrapModalHide = (el) => { const m = bootstrap.Modal.getInstance(el); if (m) m.hide(); }
</script>


@code {
    [Parameter] public int Id { get; set; }
    private List<Shelf> _shelves = new();
    private bool _sameUser = false;
    private NewShelfModel _newShelfModel = new();
    private NewShelfIngredientModel _newShelfIngredientModel = new();
    private StorageRoom _storageRoom = null;
    private EditContext _editContext = default!;
    private bool _isEdit;
    private string? _error;
    
    private Shelf? _editingShelf;
    private Shelf? _shelfToDelete;
    
    private ElementReference _modalEl;
    private ElementReference _deleteModalEl;
    private ElementReference _AddShelfIngredientEl;
    
    public required Shelf Shelf { get; set; }
    public required Ingredient Ingredient { get; set; }

    
    private int? _draggedShelfIngredientId;
    
    private int _modalShelfId;
    private int _modalRow;
    private int _modalCol;
    
    private List<Ingredient> _ingredients = new();
    
    
    public class NewShelfIngredientModel
    {
        public int IngredientId { get; set; }
        public int Amount { get; set; }
        public DateTime ExpirationDate { get; set; } = DateTime.Today.AddDays(7);
    }
    
    async Task OpenAddIngredientModal(int shelfId, int col, int row)
    {
        _modalShelfId = shelfId;
        _modalCol = col;
        _modalRow = row;

        _newShelfIngredientModel = new NewShelfIngredientModel();

        Console.WriteLine("openend shelf: " + shelfId + ", col: " + col + ", row: " + row);

        await JS.InvokeVoidAsync("bootstrapModalShow", _AddShelfIngredientEl);
    }
    
    public class NewShelfModel
    {
        [Required(ErrorMessage = "Inhaltsbeschriftung ist erforderlich")]
        public string ContentDescription { get; set; } = string.Empty;

        [Required(ErrorMessage = "Breite ist erforderlich")]
        public int Width { get; set; } = 0;
        
        [Required(ErrorMessage = "Height ist erforderlich")]
        public int Height { get; set; } = 0;
    }
    
    protected override async Task OnInitializedAsync()
    {
        var room = await StorageRoomService.GetStorageRoomByIdAsync(Id);
        _ingredients = (await IngredientService.LoadAllAsync()).ToList();
        if(room==null) return;
        _storageRoom = room;
        var currentUser = await UserService.GetUserAsync();
        var currentUserId = currentUser.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        _sameUser = !string.IsNullOrWhiteSpace(currentUserId)
                      && string.Equals(room.UserId, currentUserId, StringComparison.Ordinal);
        if (room == null) NavigationManager.NavigateTo("/storagerooms", forceLoad: true);
        
        ResetForm();
        await LoadShelves(Id);
    }
    
    private async Task NewShelfClicked()
    {
        _isEdit = false;
        _editingShelf = null;
        ResetForm();
        await JS.InvokeVoidAsync("bootstrapModalShow", _modalEl);
    }
    
    private void ResetForm()
    {
        _newShelfModel = new NewShelfModel();
        _editContext = new EditContext(_newShelfModel);
        _error = null;
    }
    
    private async Task LoadShelves(int storageRoomId)
    {
        _shelves = await StorageRoomService.GetStorageRoomShelfAsync(storageRoomId);
    }
    
    private async Task StartEdit(Shelf shelf)
    {
        _isEdit = true;
        _editingShelf = shelf;

        _newShelfModel = new NewShelfModel()
        {
            ContentDescription = shelf.ContentDescription,
            Width = shelf.Width,
            Height = shelf.Height
        };
        _editContext = new EditContext(_newShelfModel);

        await JS.InvokeVoidAsync("bootstrapModalShow", _modalEl);
    }

    private async Task SaveShelf(EditContext context)
    {
        if (!context.Validate()) return;

        try
        {
            if (_isEdit && _editingShelf != null)
            {
                _editingShelf.ContentDescription = _newShelfModel.ContentDescription;
                await StorageRoomService.UpdateShelfContentDescriptionAsync(_editingShelf.ContentDescription, _editingShelf.Id);
            }
            else
            {
                await StorageRoomService.AddShelfAsync(Id,
                    _newShelfModel.ContentDescription, 
                    _newShelfModel.Height, 
                    _newShelfModel.Width);
            }

            await LoadShelves(Id);
            await JS.InvokeVoidAsync("bootstrapModalHide", _modalEl);
        }
        catch (Exception ex)
        {
            _error = ex.Message;
        }
    }
    
    
    async Task CloseAddModal()
    {
        await JS.InvokeVoidAsync("bootstrapModalHide", _AddShelfIngredientEl);
    }
    
    private async Task ConfirmDelete(Shelf shelf)
    {
        _shelfToDelete = shelf;
        await JS.InvokeVoidAsync("bootstrapModalShow", _deleteModalEl);
    }

    private async Task DeleteShelf()
    {
        if (_shelfToDelete == null) return;

        await StorageRoomService.DeleteShelfAsync(_shelfToDelete.Id, Id);
        await LoadShelves(Id);
        await JS.InvokeVoidAsync("bootstrapModalHide", _deleteModalEl);
    }
    
    void StartDrag(int id)
    {
        _draggedShelfIngredientId = id;
    }
    
    string GetExpiryClass(ShelfIngredient si)
    {
        var days = (si.ExpirationDate - DateTime.Today).TotalDays;

        if (days < 0) return "exp-red";
        if (days <= 1) return "exp-orange";
        if (days <= 7) return "exp-yellow";
        return "exp-green";
    }
    
    async Task SaveShelfIngredient()
    {
        var entity = new ShelfIngredient
        {
            ShelfId = _modalShelfId,
            Column = _modalCol,
            Row = _modalRow,
            IngredientId = _newShelfIngredientModel.IngredientId,
            Amount = _newShelfIngredientModel.Amount,
            ExpirationDate = _newShelfIngredientModel.ExpirationDate,
            Shelf = null,
            Ingredient = null,
        };

        await StorageRoomService.AddIngredientToShelfAsync(entity);

        await CloseAddModal();
        await LoadShelves(Id);
    }
}